S3method(print,gpuinfo_check)
export(accelerator_info)
export(available_gpu_count)
export(available_backends)
export(backend_info)
export(best_backend)
export(check_accelerator)
export(cpu_info)
export(cuda_info)
export(environment_info)
export(gpu_count)
export(gpu_devices)
export(gpu_capabilities)
export(gpu_info)
export(gpu_memory)
export(gpu_memory_info)
export(gpu_sitrep)
export(hardware_info)
export(has_cpu)
export(has_cuda)
export(has_cuda_driver)
export(has_cuda_runtime)
export(has_cuda_toolkit)
export(has_gpu)
export(has_metal)
export(has_nvidia_gpu)
export(has_nvcc)
export(has_opencl)
export(has_rocm)
export(metal_info)
export(opencl_info)
export(physical_gpu_count)
export(require_accelerator)
export(require_cuda)
export(require_gpu)
export(require_metal)
export(require_rocm)
export(rocm_info)
export(select_backend)
export(select_device)
export(supports)
export(validation_info)
export(visible_devices)
useDynLib(gpuinfo, .registration = TRUE, .fixes = "C_")
